[postgresql]
host = localhost
username = webappuser
password = xxxx
dbname = rwatchdog

[twitter]
consumer_key = XXXX
consumer_secret = XXXX
access_token_key = XXXX
access_token_secret = XXXX
