[webapp]
publish_path = static/publications
base_url = http://dev0.alephzero.ph
db_type = sqlite3
twitter_tags = #KabantayNgBayan

[sqlite3]
filename = rwatchdog.db

[postgresql]
host = localhost
username = webappuser
password = xxxx
dbname = rwatchdog

[twitter]
consumer_key = XXXX
consumer_secret = XXXX
access_token_key = XXXX
access_token_secret = XXXX

[R]
arch = x86|x64|none
